<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台用户管理-{$Think.config.cms_name}</title>
    <include file="Public/head" />
    <style>td{ height:22px; line-height:22px}</style>
</head>
<body>
<div class="midder">

    <table  cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="10" class="table_title"><span class="fr">
                    <a href="{:U('/Admin/Content/content_add')}">添加文章</a>
                </span>
            </td>

        </tr>

        <tr class="Toolbar_inbox ct">
            <td align='center' width='10'>文章ID</td>
            <td align='center' width='10'>父类</td>
            <td align='center' width='20'>标题</td>
            <td align='center' width='20'>简介</td>
            <td align='center' width='30'>发布时间</td>
            <td align='center' width='10'>管理操作</td>
        </tr>
        <volist name="content_list" id="vo">
            <tr class='ol'>
                <td align='center'>{$vo.id}</td>
          <!--      <td align='center'>{$vo.class_name}</td>-->
                <td align='center'>{$vo.title}</td>
                <td align='center'>{$vo.description|msubstr=###,0,30}</td>
                <td align='center'>{$vo.createtime|date="Y-m-d",###}</td>
                <td align='center'>
                    <a href="{:U('/Admin/Content/content_edit/',array('id'=>$vo['id']))}">修改</a>
                    | <a href="javascript:void(0)" onclick="return confirmurl('{:U('/Admin/Content/content_del/',array('id'=>$vo['id']))}','确定删除该文章吗?')">删除</a>
                </td>
            </tr>
        </volist>

        <tr class="tr">
            <td colspan="13" class="pages" style='text-align:center;'>
                {$show}
            </td>
        </tr>

    </table>
</div>
</body>
</html>