<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="{:C('CSS_URL')}/style.css"/>

<script type="text/javascript" src="{:C('JS_URL')}/jquery.js"></script>
<script type="text/javascript" src="{:C('JS_URL')}/function.js"></script>
<script type="text/javascript" src="{:C('JS_URL')}/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="{:C('JS_URL')}/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="{:C('JS_URL')}/common.js"></script>

<script type="text/javascript" charset="utf-8" src="{:C('JS_URL')}/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{:C('JS_URL')}/ue/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{:C('JS_URL')}/ue/lang/zh-cn/zh-cn.js"></script>
