<layout name="layout" />
<!--页面css-->
<link rel="stylesheet" type="text/css" href="{:C('CSS_URL')}/case_info.css">

<!-- nav -->
<div class="nav-wrap">
	<div class="nav">
		<!--焕誉logo-->
		<div class="logo"><img src="{:C('IMG_URL')}/logo.png" alt=""></div>
		<!--导航-->
		<div class="nav-list">
			<ul class="nav-li">
				<!--焕誉首页-->
				<li class="n-li">
					<a href="/"><span class="s-1">焕誉首页</span><span class="s-2">HOME</span></a>
				</li>

				<volist name='class_list' id='p_class'>
					<li class="n-li">

						<!--医疗团队-->
						<if condition="$p_class['class_name'] eq '医疗团队'">
							<a href="{:U('Home/Index/doctor_list')}"><span class="s-1">{$p_class.class_name}</span><span class="s-2">{$p_class.class_e_name}</span></a>
							<elseif condition="$p_class['class_name'] eq '新闻动态'"/>
							<a href="{:U('Home/Index/band_info',array('id'=>157))}"><span class="s-1">{$p_class.class_name}</span><span class="s-2">{$p_class.class_e_name}</span></a>
							<elseif condition="$p_class['class_name'] eq '品牌中心'"/>
							<a href="#"><span class="s-1">{$p_class.class_name}</span><span class="s-2">{$p_class.class_e_name}</span></a>
							<elseif condition="$p_class['class_name'] eq '焕誉案例'"/>
							<a href="{:U('Home/Index/case_info')}"><span class="s-1">{$p_class.class_name}</span><span class="s-2">{$p_class.class_e_name}</span></a>
							<else />
							<a href="#"><span class="s-1">{$p_class.class_name}</span><span class="s-2">{$p_class.class_e_name}</span></a>
						</if>

						<!--品牌中心-->
						<if condition="$p_class['class_name'] eq '品牌中心'">
							<div class="list">
								<ul class="li-ul">
									<volist name='p_class.p_class' id='k_class'>
										<li class="nav-list-li">
											<if condition="$k_class['id'] eq 113">
												<a href="{:U('Home/Index/band_info',array('id'=>155))}" class="li-a">{$k_class.class_name}</a>
												<else />
												<a href="{:U('Home/Index/come')}" class="li-a">{$k_class.class_name}</a>
											</if>
										</li>
									</volist>
								</ul>
							</div>
						</if>

						<!--项目系列-->
						<if condition="$p_class['class_name'] eq '项目系列'">
							<div class="list">
								<ul class="li-ul">
									<volist name='p_class.p_class' id='k_class'>
										<if condition="$k_class['id'] neq '98'">
											<li class="nav-list-li">
												<a class="li-a">{$k_class.class_name}</a>
												<div class="guide-li">
													<div class="f-l">
														<volist name='k_class.k_class' id='c_class'>
															<dl>
																<if condition="$c_class['tid'] neq NULL">
																	<a href="{:U('Home/Index/new_info',array('id'=>$c_class['tid']['id']))}"><dt>{$c_class.class_name}</dt></a>
																	<else />
																	<dt>{$c_class.class_name}</dt>
																</if>
																<foreach name="c_class['c_class']" item="c_vo">
																	<if condition="$key eq 0">
																		<dd class="dd-bg"><a href="{:U('Home/Index/new_info',array('id'=>$c_vo['id']))}">{$c_vo.class_name}</a></dd>
																		<else />
																		<dd><a href="{:U('Home/Index/new_info',array('id'=>$c_vo['id']))}">{$c_vo.class_name}</a></dd>
																	</if>
																</foreach>
															</dl>
														</volist>
													</div>

													<ul class="hot">
														<li>热门项目</li>
														<li><a href=""><img src="{:C('IMG_URL')}/nav-img-1.png" alt=""></a></li>
													</ul>
												</div>
											</li>

											<else />

										</if>
									</volist>
								</ul>
							</div>
						</if>
					</li>
				</volist>
			</ul>
		</div>
	</div>
</div>
<!-- banner -->
<div class="box-wrap">
	<div class="box">
		<ul class="slide-wrap">
			<li style="z-index:10;" class="b-l-1">
				<div class="b-box">
					<img src="{:C('IMG_URL')}/b1-font1.png" alt="" class="img-1">
					<img src="{:C('IMG_URL')}/b1-font2.png" alt="" class="img-2">
				</div>
			</li>
			<li class="b-l-2">
				<div class="b-box">
					<img src="{:C('IMG_URL')}/b2-font.png" alt="" class="img-3">
				</div>
			</li>
		</ul>
		<ol>
			<li class="current"></li>
			<li></li>
		</ol>
		<span class="prev"></span>
		<span class="next"></span>
	</div>
</div>
<!-- 成功案例 -->
<div class="case-wrap">
	<p class="case-tit"><img src="{:C('IMG_URL')}/case-tit.png" alt=""></p>
	<div class="ca-list">
		<div class="calist">
			<ul class="caslide">
				<volist name='anli_list_a' id="a_list">
					<li class="li-1">
						<a class="jump">
							<img src="__PUBLIC__/Uploads/anli/info_{$a_list.img_url}" alt="">
						</a>
						<p class="btn"><a target='_blank' href="http://pkt.zoosnet.net/LR/Chatpre.aspx?id=PKT67204838&cid=1469000068684805339274&lng=cn&sid=1469000068684805339274&p=http%3A//hyuzx.com/&rf1=&rf2=&e=%25u6765%25u81EA%25u9996%25u9875%25u7684%25u5BF9%25u8BDD&bid=&d=1469000257113">在线了解体验过程&nbsp;>></a></p>
					</li>
				</volist>
			</ul>
		</div>
		<span class="s-s-l"></span>
		<span class="s-s-r"></span>
	</div>
</div>
<!--项目详情页内容 -->
<!-- 相关文章推荐 -->
<div class="new-cont-wrap">
	<div class='con-list-wrap prcont'>
		<p class="tit ptit">相关推荐<span>related suggestion</span></p>
		<ul class="text-list">
			<volist name='related_list' id='related_list'>
				<li><a href="{:U('Home/Index/new_info',array('id'=>$related_list['id'],'cid'=>$related_list['cid']))}">{$related_list.title}</a></li>
			</volist>
		</ul>
	</div>
	<!-- 相关专家推荐 -->
	<div class='con-list-wrap'>
		<p class="tit ptit">相关推荐<span>related suggestion</span> <span class="pmore"><a href="{:U('Home/Index/doctor_list')}">更多&nbsp;></a></span></p>
		<ul class="zj-list">
			<volist name='doctor_list' id='doctor_list'>
				<li>
					<a href="{:U('Home/Index/doctor_info',array('id'=>$doctor_list['id']))}">
						<img src="__PUBLIC__/Uploads/doctor/list_{$doctor_list.img_url}" alt="">
						<p class="p-1">{$doctor_list.name}</p>
						<p class="p-2">{$doctor_list.zhicheng}</p>
					</a>
					<p class="p-3"><a target='_blank' href="http://pkt.zoosnet.net/LR/Chatpre.aspx?id=PKT67204838&cid=1469000068684805339274&lng=cn&sid=1469000068684805339274&p=http%3A//hyuzx.com/&rf1=&rf2=&e=%25u6765%25u81EA%25u9996%25u9875%25u7684%25u5BF9%25u8BDD&bid=&d=1469000257113">在线预约</a></p>
				</li>
			</volist>
		</ul>
	</div>
	<!-- 相关案例 -->
	<div class='con-list-wrap'>
		<p class="tit ptit">相关推荐<span>related suggestion</span></p>
		<ul class="diary-list">
			<volist name='anli_list' id="a_list">
				<li class="bd">
					<a href="{:U('Home/Index/case_info',array('id'=>$a_list['id']))}">
						<img src="__PUBLIC__/Uploads/anli/list_{$a_list.list_url}" alt="">
						<ul class="text">
							<!--<li class="p-1"><img src="{:C('IMG_URL')}/case-min-1.png" alt=""></li>-->
							<li class="p-1"><img src="__PUBLIC__/Uploads/anli/min_{$a_list.min_url}" alt=""></li>
							<li class="p-2">
								<p class="name">{$a_list.name}<span>They are here to find the youth and beauty</span></p>
								<p class=" explain">{$a_list.jianyan}</p>
							</li>
						</ul>
					</a>
				</li>
			</volist>
		</ul>
	</div>
</div>
