<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目列表页</title>
	<link rel="stylesheet" type="text/css" href="{:C('CSS_URL')}/all.css">
	<link rel="stylesheet" type="text/css" href="{:C('CSS_URL')}/style.css">
	<link rel="stylesheet"  href="{:C('CSS_URL')}/zoom.css" media="all" />
</head>
<body>
<!-- 在线联系 -->
<!-- 浮动 -->
<div class="talk">

	<div class="online">
		<ul>
			<li class="li-1">在线咨询<span class="close"></span></li>
			<li class="li-2"><a href="javascript:void(0)">123456789</a></li>
			<!--  <li class="li-3"><a href="javascript:void(0)">010-57290660</a></li>-->
		</ul>

	</div>

	<div class="online_2">
		<ul>
			<li class="li-1">电话咨询<span class="close"></span></li>
			<!--<li class="li-2"><a href="javascript:void(0)">123456789</a></li>-->
			<li class="li-2"><a href="javascript:void(0)">010-57290660</a></li>
		</ul>

	</div>
	<div class="ewm"></div>
	<ul class="flo-list">
		<li><a target='_blank' href="{:C('SHANG_WU')}"><img src="{:C('SITE_URL')}/Public/Uploads/comm/01.png" alt=""></a></li>
		<li id="online_1"><a href="javascript:void(0)"><img src="{:C('SITE_URL')}/Public/Uploads/comm/02.png" alt=""></a></li>
		<li id="online_2" style="cursor: pointer;"><a href="javascript:void(0)"><img src="{:C('SITE_URL')}/Public/Uploads/comm/03.png" alt=""></a></li>
		<li class="vip" style="cursor: pointer;"><a href="javascript:void(0)"><img src="{:C('SITE_URL')}/Public/Uploads/comm/04.png" alt=""></a></li>
		<li class="top"><img src="{:C('SITE_URL')}/Public/Uploads/comm/05.png" alt=""></li>
	</ul>
</div>
<!-- nav -->
<div class="nav-wrap">
	<div class="nav">
		<div class="logo"><img src="images/logo.png" alt=""></div>
		<div class="nav-list">
			<ul class="nav-li">
				<li class="n-li">
					<a href=""><span class="s-1">焕誉首页</span><span class="s-2">HOME</span></a>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">品牌中心</span><span class="s-2">BRAND CENTER</span></a>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">项目系列</span><span class="s-2">CASE Series</span></a>
					<div class="list">
						<ul class="li-ul">
							<li class="nav-list-li">
								<a href="" class="li-a">健康管理中心</a>
								<div class="guide-li">
									<dl>
										<dt>局部整形</dt>
										<dd class="dd-bg"><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<ul class="hot">
										<li>热门项目</li>
										<li><a href=""><img src="images/nav-img-1.png" alt=""></a></li>
									</ul>
								</div>
							</li>
							<li class="nav-list-li">
								<a href="" class="li-a">美容皮肤科</a>
								<div class="guide-li">
									<dl>
										<dt>脸部整形</dt>
										<dd class="dd-bg"><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<ul class="hot">
										<li>热门项目</li>
										<li><a href=""><img src="images/nav-img-1.png" alt=""></a></li>
									</ul>
								</div>
							</li>
							<li class="nav-list-li">
								<a href="" class="li-a">美容外科</a>
								<div class="guide-li">
									<dl>
										<dt>唇部整形</dt>
										<dd class="dd-bg"><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<ul class="hot">
										<li>热门项目</li>
										<li><a href=""><img src="images/nav-img-1.png" alt=""></a></li>
									</ul>
								</div>
							</li>
							<li class="nav-list-li">
								<a href="" class="li-a">注射微整形</a>
								<div class="guide-li">
									<dl>
										<dt>胸部整形</dt>
										<dd class="dd-bg"><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<ul class="hot">
										<li>热门项目</li>
										<li><a href=""><img src="images/nav-img-1.png" alt=""></a></li>
									</ul>
								</div>
							</li>
							<li style="border-bottom:0;" class="nav-list-li">
								<a href="" class="li-a">美容牙科</a>
								<div class="guide-li">
									<dl>
										<dt>眼部整形</dt>
										<dd class="dd-bg"><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<dl>
										<dt>局部整形</dt>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称</a></dd>
										<dd><a href="">项目名称名称</a></dd>
										<dd><a href="">项目名称</a></dd>
									</dl>
									<ul class="hot">
										<li>热门项目</li>
										<li><a href=""><img src="images/nav-img-1.png" alt=""></a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">医疗团队</span><span class="s-2">Medical Team</span></a>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">新闻动态</span><span class="s-2">News dynamic</span></a>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">明星案例</span><span class="s-2">Star Case</span></a>
				</li>
				<li class="n-li">
					<a href=""><span class="s-1">焕誉会员俱乐部</span><span class="s-2">VIP Club</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- banner -->
<div class="box-wrap">
	<div class="box">
		<ul class="slide-wrap">
			<li style="z-index:10;" class="b-l-1">
				<div class="b-box">
					<img src="images/b1-font1.png" alt="" class="img-1">
					<img src="images/b1-font2.png" alt="" class="img-2">
				</div>
			</li>
			<li class="b-l-2">
				<div class="b-box">
					<img src="images/b2-font.png" alt="" class="img-3">
				</div>
			</li>
		</ul>
		<ol>
			<li class="current"></li>
			<li></li>
		</ol>
		<span class="prev"></span>
		<span class="next"></span>
	</div>
</div>
<!-- 项目列表 -->
<div class="doctor-list-wrap" style="padding-bottom:0;">
	<p class="doc-tit"><img src="images/pro-tit.png" alt=""></p>
	<ul class="pro-list">
		<li class="pr-shadow">
			<a href="">
				<p class="pro-img"><img src="images/p-l-1.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-2.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-3.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-4.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p href="" class="pro-img"><img src="images/p-l-3.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-2.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-4.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
		<li>
			<a href="">
				<p class="pro-img"><img src="images/p-l-1.png" alt=""></p>
				<p class="pr-tit">具体项目名称</p>
				<p class="pr-tit-e">Health Management Center</p>
				<p class="pr-man">适合人群</p>
				<p class="pr-class">具体分类 | 具体分类</p>
				<p class="pr-class">具体分类 | 具体分类</p>
			</a>
		</li>
	</ul>
</div>
<p class="huawen"></p>
<!-- footer -->
<div class="footer-wrap">
	<div class="footer">
		<div class="f-l">
			<p><img src="images/f-logo.png" alt=""></p>
			<p class="phone">美丽热线 : 010-57290660</p>
		</div>
		<div class="f-r">
			<ul class="f-nav">
				<li>
					<dl class="f-n-list">
						<dt>对比案例</dt>
						<dd><a href="">手术实记</a></dd>
						<dd><a href="">变美日记</a></dd>
						<dd><a href="">焕誉相册</a></dd>
						<dd><a href="">真实故事</a></dd>
					</dl>
				</li>
				<li>
					<dl class="f-n-list">
						<dt>安全保障</dt>
						<dd><a href="">材料安全</a></dd>
						<dd><a href="">设备安全</a></dd>
						<dd><a href="">专家资质</a></dd>
						<dd><a href="">医院环境</a></dd>
					</dl>
				</li>
				<li>
					<dl class="f-n-list">
						<dt>会员中心</dt>
						<dd><a href="">会员办理</a></dd>
						<dd><a href="">会员优惠</a></dd>
						<dd><a href="">会员体系</a></dd>
						<dd><a href="">会员活动</a></dd>
					</dl>
				</li>
				<li>
					<dl class="f-n-list">
						<dt>焕誉服务</dt>
						<dd><a href="">专家在线咨询</a></dd>
						<dd><a href="">电话咨询</a></dd>
						<dd><a href="">院外回访</a></dd>
						<dd><a href="">来院路线</a></dd>
					</dl>
				</li>
				<li>
					<dl class="f-our">
						<dt>关注我们</dt>
						<dd class="icon">
							<span class="weibo"><a href=""><img src="images/weibo.png" alt=""></a></span>
							<span class="weixin"><a href=""><img src="images/qq.png" alt=""></a></span>
							<span class="qq"><a href=""><img src="images/weixin.png" alt=""></a></span>
						</dd>
						<dd><img src="images/f-ewm.jpg" alt=""></dd>
					</dl>
				</li>
			</ul>
		</div>
		<p class="ad">用科技与美丽邂逅&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以信誉让生命焕彩</p>
		<p class="site"><img src="images/f-en.png" alt=""> <span>ADD : 北京市海淀区远大路22号院11号楼一层二层</span></p>
	</div>
	<div class="reg"><p>copyright © 2016-2026 huanyuzhengxing 北京焕誉医疗美容门诊部有限公司</p></div>
</div>
</body>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/all.js"></script>
<script type="text/javascript" src="js/zoom.min.js"></script>
<script type="text/javascript" src="js/jquery.movingboxes.js"></script>
</html>