<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>后台用户管理-{$Think.config.cms_name}</title>
	<include file="Public:head" />
	
</head>
<body>
	<div class="midder">

<table  cellpadding="0" cellspacing="0">
<tr>
            <td colspan="9" class="table_title">
               添加栏目
            </td>
</tr>
          
            <form action="{:U('/Admin/Setting/class_add')}" method="post" name="form" id="myform">
    
            

                <tr class="tr rt">
                    <td width="100">分类名称：</td>
                    <td colspan="3" class="lt">
                        <input type="text" name="class_name" id="class_name" style="width:200px" value="">
                    </td>
                </tr>
				
				<tr class="tr rt">
                    <td width="100">分类英文名称：</td>
                    <td colspan="3" class="lt">
                        <input type="text" name="class_e_name" id="class_e_name" style="width:200px" value="">
                    </td>
                </tr>
				
				<tr class="tr rt">
                    <td width="100">简介:</td>
                    <td colspan="3" class="lt">
						<textarea name='introduction' rows='3' cols='50'></textarea>
                    </td>
                </tr>
				
                <tr class="tr rt">
                    <td width="100">选择栏目：</td>
                    <td colspan="3" class="lt">
                       <select name="pid" style='width:400px;'>
							<option value="0">请选择</option>
							<volist name='class_list' id='p_c'>
								<option value="{$p_c.id}">{$p_c.class_name}</option>
								<volist name="p_c.p_class" id="p_class">
									<option value="{$p_class.id}">+---{$p_class.class_name}</option>
									<volist name="p_class.k_class" id="k_class">
										<option value="{$k_class.id}">+------{$k_class.class_name}</option>
										<foreach name="k_class['c_class']" item="c_vo">
											<option value="{$c_vo.id}">+---------{$c_vo.class_name}</option>
										</foreach>
									</volist>
								</volist>
							</volist>
						</select>
                    </td>
                </tr>
				
				<tr class="tr rt">
                    <td width="100">排序：</td>
                    <td colspan="3" class="lt">
                        <input type="text" name="sort" id="sort" style="width:200px" value="0">
                    </td>
                </tr>
				
                <tr class="tr lt">
        <td colspan="4">
            
                <input class="bginput" type="submit" name="submit" value="添 加">
            &nbsp;
            <input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
    </tr>
    </form>
</table>
</div>
</body>
	</html>