<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台用户管理-{$Think.config.cms_name}</title>
    <include file="Public/head" />

</head>

<body>
<div class="midder">
    <form action="{:U('/Admin/News/news_add')}" method="post" name="form" id="myform" enctype="multipart/form-data">
        <table  cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="9" class="table_title">
                    添加新闻
                </td>
            </tr>

            <tr class="tr rt">
                <td width="100">标题：</td>
                <td colspan="3" class="lt">
                    <input type="text" name="title" style="width:200px" value="">
                </td>
            </tr>

            <tr class="tr rt">
                <td width="100">简介:</td>
                <td colspan="3" class="lt">
                    <textarea name='intro' rows='10' cols='50'></textarea>
                </td>
            </tr>

            <tr class="tr rt">
                <td width="100">主页图片：</td>
                <td colspan="3" class="lt">
                    <input type="file" name="img_url" size="28" value='浏览...' />
                </td>
            </tr>

            <!--      <tr class="tr rt">
                    <td width="100">相关推荐：</td>
                    <td colspan="3" class="lt">
                      <input type="checkbox" name="related" value="1">
                    </td>
                  </tr>

                  <tr class="tr rt">
                    <td width="100">热门推荐：</td>
                    <td colspan="3" class="lt">
                      <input type="checkbox" name="hot" value="1">
                    </td>
                  </tr>-->

            <!--      <tr class="tr rt">
                    <td width="100">选择栏目：</td>
                    <td colspan="3" class="lt">
                      <select name="cid" style='width:400px;'>
                        <option value="0">请选择</option>
                        <volist name='class_list' id='p_c'>
                          <option value="{$p_c.id}">{$p_c.class_name}</option>
                          <volist name="p_c.p_class" id="p_class">
                            <option value="{$p_class.id}">+-&#45;&#45;{$p_class.class_name}</option>
                            <volist name="p_class.k_class" id="k_class">
                              <option value="{$k_class.id}">+&#45;&#45;&#45;&#45;&#45;&#45;{$k_class.class_name}</option>
                              <foreach name="k_class['c_class']" item="c_vo">
                                <option value="{$c_vo.id}">+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;{$c_vo.class_name}</option>
                              </foreach>
                            </volist>
                          </volist>
                        </volist>
                      </select>
                    </td>
                  </tr>-->

            <tr class="tr rt">
                <td width="100">内容：</td>
                <td colspan="3" class="lt">
                    <textarea id='ue_content' name='content' style="width:800px;height:250px;"></textarea>
                </td>
            </tr>

            <!--     <tr class="tr rt">
                   <td width="100">排序:</td>
                   <td colspan="3" class="lt">
                     <input type="text" name="sort" id="sort" style="width:200px;" value="0">
                   </td>
                 </tr>-->

            <tr class="tr lt">
                <td colspan="4">

                    <input class="bginput" type="submit" name="submit" value="添 加">
                    &nbsp;
                    <input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
            </tr>

        </table>
    </form>
</div>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //var ue = UE.getEditor('content');

    var ue = UE.getEditor('ue_content');

</script>
</body>
</html>