<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$class_info.class_name}</title>

    <link rel="stylesheet" type="text/css" href="{:C('CSS_URL')}/style.css">
    <link rel="stylesheet"  href="{:C('CSS_URL')}/zoom.css" media="all" />

    <!--商务通-->
    <script language=javascript>
        var LiveAutoInvite0='您好，来自%IP%的朋友';
        var LiveAutoInvite1='来自首页的对话';
        var LiveAutoInvite2=' 网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
    </script>
    <script language="javascript" src="http://pkt.zoosnet.net/JS/LsJS.aspx?siteid=PKT67204838&float=1&lng=cn"></script>

    <script type="text/javascript" src="{:C('JS_URL')}/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{:C('JS_URL')}/all.js"></script>
    <script type="text/javascript" src="{:C('JS_URL')}/zoom.min.js"></script>
    <script type="text/javascript" src="{:C('JS_URL')}/jquery.movingboxes.js"></script>

</head>
<body>
<!-- 浮动 -->
<div class="talk">

    <div class="online">
        <ul>
            <li class="li-1">在线咨询<span class="close"></span></li>
            <li class="li-2"><a href="javascript:void(0)">xxxxxxxxx</a></li>
            <!--  <li class="li-3"><a href="javascript:void(0)">010-57290660</a></li>-->
        </ul>
    </div>

    <div class="online_2">
        <ul>
            <li class="li-1">电话咨询<span class="close"></span></li>
            <!--<li class="li-2"><a href="javascript:void(0)">123456789</a></li>-->
            <li class="li-2"><a href="javascript:void(0)">010-5729-0660</a></li>
        </ul>
    </div>
    <div class="ewm"></div>
    <ul class="flo-list">
        <li><a target='_blank' href="{:C('SHANG_WU')}"><img src="{:C('IMG_URL')}/zhuye_01.jpg" alt=""></a></li>
        <li id="online_1"><a href="javascript:void(0)"><img src="{:C('IMG_URL')}/zhuye_02.jpg" alt=""></a></li>
        <li id="online_2" style="cursor: pointer;"><a href="javascript:void(0)"><img src="{:C('IMG_URL')}/zhuye_03.jpg" alt=""></a></li>
        <li class="vip" style="cursor: pointer;"><a href="javascript:void(0)"><img src="{:C('IMG_URL')}/zhuye_04.jpg" alt=""></a></li>
        <li class="top"><img src="{:C('IMG_URL')}/zhuye_05.jpg" alt=""></li>
    </ul>
</div>
{__CONTENT__}
<!-- 花纹 -->
<p class="huawen"></p>
<!-- footer -->
<div class="footer-wrap">
    <div class="footer">
        <div class="f-l">
            <p><img src="{:C('IMG_URL')}/fot-logo.jpg" alt=""></p>
        </div>

        <div class="f-m">
            <ul class="f-nav">
                <volist name='foot_list' id='f_list'>
                    <li>
                        <dl class="f-n-list">
                            <dt>{$f_list.class_name}</dt>
                            <volist name='f_list["zi_list"]' id='z_list'>
                                <if condition="$z_list['id'] eq 60 or $z_list['id'] eq 61 or $z_list['id'] eq 62 or $z_list['id'] eq 63 or $z_list['id'] eq 77 or $z_list['id'] eq 78 or $z_list['id'] eq 79 or $z_list['id'] eq 80">
                                    <!--<dd><a href="{:U('Home/Index/new_info',array('id'=>$z_list['id']))}">{$z_list.class_name}</a></dd>-->

                                    <dd><a href="{:C('SITE_URL')}/xm/{$z_list['abbob']}">{$z_list.class_name}</a></dd>
                                    <else />
                                    <!--<dd><a href="{:U('Home/Index/new_list',array('id'=>$z_list['id']))}">{$z_list.class_name}</a></dd>-->
                                    <dd><a href="{:C('SITE_URL')}/xm/{$z_list['abbob']}">{$z_list.class_name}</a></dd>

                                </if>
                            </volist>
                        </dl>
                    </li>
                </volist>
            </ul>
        </div>

        <div class="f-r">
            <dl>
                <dt><img src="{:C('IMG_URL')}/f-ewm.jpg" alt=""></dt>
                <dd>
                    <p class="p-y">焕誉美容官方微信</p>
                    <p class="p-w">公众号：bjhyylzx</p>
                    <p class="p-w">北京焕誉医疗美容</p>
                </dd>
            </dl>
            <p class="site">ADD : 北京市海淀区远大路22号院11号楼一层二层</p>
            <p class="f-phone">美丽热线 : 010-57290660</p>
            <p class="f-phone">美丽专线 : 400-7667-000</p>
        </div>
    </div>
    <div class="reg" style='height:20px;'><p style='height:20px;line-height:20px;'>copyright &#169; 2016-2026 huanyuzhengxing 北京焕誉医疗美容门诊部有限公司</p></div>
    <div style='text-align:center;background:#1d1d1d;font-size:12px;'><p>京ICP备16017287号-1   （京）医广【2016】第07-01-0355号</p></div>
</div>
</body>
</html>