<!DOCTYPE HTML>
<html>
<head>
<title>管理登录-{$Think.config.cms_name}</title>
<include file="Public/head" />
<meta property="wb:webmaster" content="6602571ea916c35b" />
</head>

<body id="loginbody">

    <div class="login">

<div class="info">
<form method="post" action="{:U('Admin/Login/checklogin/')}">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th height="35" scope="row">用户名:</th>
    <td><input type="text" name="username" class="linput"/></td>
  </tr>
  <tr>
    <th height="35" scope="row">密码：</th>
    <td><input type="password" name="password" class="linput" /></td>
  </tr>
   <tr>
    <th height="35" scope="row">验证码:</th>
    <td><input type="text" name="verify" class="linput" /><img id="verifyImg" src="__APP__/Admin/Login/verify?" onclick='this.src=this.src+"&"+Math.random()' border="0" ALT="点击刷新验证码" style="cursor:pointer" align="absmiddle"></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>
    <input class="lsubmit" type="submit" value="登录后台" /> <a href="__APP__" class="bh">返回首页</a>
    </td>
  </tr>
</table>
</form>
</div>

    </div>


</body>
</html>
